<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>prueba min max sliders chart</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      .chartMenu {
        width: 100vw;
        height: 40px;
        background: #1A1A1A;
        color: rgba(255, 26, 104, 1);
      }
      .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }
      .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
        background: rgba(255, 26, 104, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .chartBox {
        width: 700px;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(255, 26, 104, 1);
        background: white;
      }
    </style>
  </head>
  <body>
    <div class="chartMenu">
      <p>hello</p>
    </div>
    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
        <input oninput="updateMin(this)" type="range" id="start" min="1" max="21" value="1">
        <input  oninput="updateMax(this)"type="range" id="end" min="" max="21" value="21">
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    // setup
    const labels = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    const datapoints = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
    const backgroundColor = [ 'rgba(255, 26, 104, 0.2)', 'rgba(54, 162, 235, 0.2)','rgba(255, 206, 86, 0.2)','rgba(75, 192, 192, 0.2)','rgba(153, 102, 255, 0.2)','rgba(255, 159, 64, 0.2)','rgba(0, 0, 0, 0.2)', 'rgba(255, 26, 104, 0.2)','rgba(54, 162, 235, 0.2)','rgba(255, 206, 86, 0.2)','rgba(75, 192, 192, 0.2)','rgba(153, 102, 255, 0.2)','rgba(255, 159, 64, 0.2)','rgba(0, 0, 0, 0.2)', 'rgba(255, 26, 104, 0.2)', 'rgba(54, 162, 235, 0.2)','rgba(255, 206, 86, 0.2)','rgba(75, 192, 192, 0.2)','rgba(153, 102, 255, 0.2)','rgba(255, 159, 64, 0.2)','rgba(0, 0, 0, 0.2)' ]
    const borderColor = ['rgba(255, 26, 104, 1)','rgba(54, 162, 235, 1)','rgba(255, 206, 86, 1)','rgba(75, 192, 192, 1)','rgba(153, 102, 255, 1)','rgba(255, 159, 64, 1)','rgba(0, 0, 0, 1)', 'rgba(255, 26, 104, 1)','rgba(54, 162, 235, 1)','rgba(255, 206, 86, 1)','rgba(75, 192, 192, 1)','rgba(153, 102, 255, 1)','rgba(255, 159, 64, 1)','rgba(0, 0, 0, 1)', 'rgba(255, 26, 104, 1)','rgba(54, 162, 235, 1)','rgba(255, 206, 86, 1)','rgba(75, 192, 192, 1)','rgba(153, 102, 255, 1)','rgba(255, 159, 64, 1)','rgba(0, 0, 0, 1)']
    const data = {
      labels: labels,
      datasets: [{
        label: 'Weekly Sales',
        data: datapoints,
        backgroundColor: backgroundColor,
        borderColor: borderColor,
        borderWidth: 1
      }]
    };

    // config
    const config = {
      type: 'bar',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    const start = document.getElementById('start');
    const end = document.getElementById('end');

    function updateMin(range) {
      console.log(range.value);
      const minValue = labels.slice(range.value -1, end.value);
      const dbMinValue = datapoints.slice(range.value -1, end.value);
      myChart.config.data.labels = minValue;
      myChart.config.data.datasets[0].data = dbMinValue;

      const bgMinValue = backgroundColor.slice(range.value -1, end.value);
      const bcMinValue = borderColor.slice(range.value -1, end.value);
      myChart.config.data.datasets[0].backgroundColor = bgMinValue;
      myChart.config.data.datasets[0].borderColor = bcMinValue;

      end.min = range.value;
      myChart.update();
    }

    function updateMax(range) {
      console.log(range.value);
      const maxValue = labels.slice(start.value -1, range.value);
      const dbMaxValue = datapoints.slice(start.value -1, range.value);

      const bgMaxValue = backgroundColor.slice(start.value -1, range.value);
      const bcMaxValue = borderColor.slice(start.value -1, range.value);

      myChart.config.data.labels = maxValue;
      myChart.config.data.datasets[0].data = dbMaxValue;

      myChart.config.data.datasets[0].backgroundColor = bgMaxValue;
      myChart.config.data.datasets[0].borderColor = bcMaxValue;

      myChart.update();
    }

    </script>

  </body>
</html>